.section-about {
  padding: 50px 10px;
  @include media($screen-tablet) {
    padding: 60px 20px;
  }
  @include media {
    padding: 158px 0;
  }

  &__text {
    @extend %section-text;
    &:nth-child(1) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 25px;
    }
    @include media($screen-tablet) {
      // padding: 0;
      &:nth-child(1) {
        width: 520px;
      }
      &:nth-child(2) {
        width: 365px;
      }
      &:nth-child(3) {
        width: 430px;
      }
      &:nth-child(4) {
        width: 480px;
      }
    }
  }
}
