.section-services {
  background-image: url(../images/section_services_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 10px;
  @include media($screen-tablet) {
    padding: 60px 20px;
  }
  @include media {
    padding: 120px 0 107px;
  }

  &__text {
    @extend %section-text;
    color: $white;
    &:last-child {
      margin-bottom: 25px;
    }
    @include media($screen-tablet) {
      width: 545px;
      &:nth-child(1) {
        width: 555px;
      }
    }
  }
}
