* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a,
button,
input {
  font-family: $base-font;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  @extend %container;
}

.wrapper {
  border: 2px solid $border-color;
  margin: 0 auto;
  text-align: center;
  @include media {
    max-width: 905px;
  }
  &--color {
    border-color: $white;
  }
}
