@mixin text($size, $weight: 300, $color: $text-main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}

@mixin media($screen: $screen-desktop) {
  @media screen and (min-width: $screen) {
    @content;
  }
}
